$fullBG: #10002b;
$yellow-color: #f0a500;

#movieDetails {
  min-height: 84vh;
  width: 100%;
  position: relative;
  @media (max-width: 768px) {
    min-height: 50vh;
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 6rem;
    padding-top: 6rem;
    background: #dd4a0b97;
    width: 100%;
    min-height: inherit;
    @media (max-width: 768px) {
      padding-top: 2rem;
    }
    .image {
      width: 24vw;
      height: 70vh;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
      @media (max-width: 768px) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: transform 0.4s ease;

        &:hover {
          transform: scale(1.05);
        }
      }
    }

    .info {
      width: 60vw;
      min-height: inherit;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      color: #fff;
      @media (max-width: 768px) {
        gap: 0.9rem;
      }

      h1 {
        margin-top: 2rem;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
        @media (max-width: 768px) {
          font-size: 2.5rem;
          font-weight: 500;
        }
      }

      .dates {
        display: flex;
        align-items: center;
        gap: 0.8rem;

        h4 {
          font-size: 1.1rem;
          font-weight: 500;
          color: #fff;
          text-transform: uppercase;
          @media (max-width: 768px) {
            font-size: 0.7rem;
          }
          @media (max-width: 423px) {
            font-size: 0.5rem;
          }
          span {
            font-weight: 400;
            margin-left: 0.5rem;
            color: #ddd;
            text-transform: lowercase;
          }
        }
      }
      .genres {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        span {
          background: rgb(70, 70, 199);
          color: #fff;
          padding: 0.4rem 0.8rem;
          border-radius: 20px;
          font-size: 0.9rem;
          @media (max-width: 768px) {
            font-size: 0.7rem;
          }
          @media (max-width: 423px) {
            padding: 0.2rem 0.4rem;
            font-size: 0.6rem;
          }
        }
      }
      .play {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        @media (max-width: 423px) {
          gap: 0.4rem;
        }
        .circularProgressbar {
          width: 60px;
          height: 60px;
          background: #081c22;
          border-radius: 50%;
          border: 2px solid #204529;
          flex-shrink: 0;
          z-index: 3; // overlayден өйдө чыгат
          svg {
            text {
              transform: translate(-28%, 7%);
            }
          }
          @media (max-width: 496px) {
            width: 45px;
            height: 45px;
          }
          @media (max-width: 432px) {
            width: 45px;
            height: 39px;
          }
        }

        h3 {
          font-size: 1rem;
          font-weight: 500;
          color: $fullBG;
          @media (max-width: 423px) {
            font-size: 0.8rem;
          }
        }
        .buttons {
          margin-left: 2rem;
          display: flex;
          align-items: center;
          gap: 1rem;
          @media (max-width: 768px) {
            gap: 0.2rem;
          }
          .playBtn {
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background: none;
            border: none;
            cursor: pointer;
            transition: 0.6s;
            @media (max-width: 423px) {
              width: 2.4rem;
              height: 2.4rem;
            }
            svg {
              width: 100%;
              height: 100%;
              color: $fullBG;
            }
            &:hover {
              transform: scale(1.1);
            }
          }

          .btnWatch {
            border: none;
            background: transparent;
            font-size: 1.5rem;
            font-weight: 400;
            color: $fullBG;
            cursor: pointer;
            transition: color 0.3s ease;
            display: inline-block;
            position: relative;
            @media (max-width: 768px) {
              font-size: 1rem;
            }
            @media (max-width: 496px) {
              font-size: 0.8rem;
            }
            @media (max-width: 423px) {
              font-size: 0.9rem;
              width: 120px;
            }

            &:hover {
              color: $fullBG;
              text-shadow: 0 0 5px #340b7b7e, 0 0 10px #340b7b7e,
                0 0 20px #340b7b7e;
            }
          }
        }
      }
      .overview {
        margin-top: 1rem;
        font-size: 1.1rem;
        line-height: 1.6;
        color: #ccc;
        @media (max-width: 768px) {
          font-size: 0.7rem;
          padding-bottom: 1rem;
        }
      }
    }
  }
  .watchBG {
    position: fixed;
    inset: 0;
    background: #0000008b;
    backdrop-filter: blur(6px);
    z-index: 30;

    .watch {
      position: absolute;
      top: 25%;
      left: 30%;
      @media (max-width: 576px) {
        top: 30%;
        left: 18%;
      }
       @media (max-width: 496px) {
        top: 30%;
        left: 14%;
      }
      
      iframe {
        width: 630px;
        height: 410px;
        @media (max-width: 576px) {
          width: 360px;
          height: 210px;
        }
         @media (max-width: 423px) {
          width: 300px;
          height: 170px;
        }
         @media (max-width: 423px) {
          width: 270px;
          height: 150px;
        }
        
      }
      p {
        position: absolute;
        top: -26px;
        right: 0;
        font-size: 1.4rem;
        font-weight: 300;
        color: white;
        cursor: pointer;
        @media (max-width: 576px) {
          font-size: 1rem;
          top: -20px;
        }
        &:hover {
          color: rgb(226, 223, 223);
        }
      }
    }
  }
}
