$fullBG: #10002b;

.Search{
    padding-block: 8rem;
    background: $fullBG;
    min-height: 90vh;
    @media (max-width: 447px) {
      padding-block: 4.3rem;
    }
    h2{


      span{
        color: rgb(220, 220, 220);
      }
      color: #f0a500;
        padding-bottom: 4rem;
        font-size: 2rem;
        font-weight: 400;
                 @media (max-width: 447px) {
          font-size: 1rem;
          padding-bottom: 1.8rem;
    } 
  }
  .nothing_found{
    color:rgb(220, 220, 220);
    font-size: 28px;
  }
    .notFound {
  text-align: center;
  margin-top: 3rem;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: #f1faee;
    text-transform: uppercase;
  }

  button {
    padding: 0.8rem 1.6rem;
    background: #212cf6;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background: #0d17d2;
    }
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  justify-items: start; 
  @media (max-width: 447px) {
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    
  }
}

}