#first {
.route {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 96%;
  max-width: 280px;
  height: 40px;
  padding: 3px;
  background: #da135c;
  border-radius: 50px;
  overflow: hidden;

  @media (max-width: 576px) {
    max-width: 220px;
    height: 30px;
  }

  .bg {
    position: absolute;
    top: 3px;
    left: 0;
    height: calc(100% - 6px);
    background: rgb(78, 53, 64);
    border-radius: 50px;
    z-index: 0;
    will-change: transform, width;
  }

  h4 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    height: 100%;
    font-weight: 600;
    font-size: 0.95rem;
    color: #d8f3dc;
    user-select: none;

    @media (max-width: 576px) {
      font-size: 0.8rem;
    }
  }
}

  .content {
    padding-top: 10px;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: auto;
    gap: 1rem;
    margin-block: 4rem;
    scrollbar-width: none;
    @media (max-width: 496px) {
      margin-bottom: 0rem;
    }
    .block {
      display: flex;
      align-items: center;
      gap: 1rem;
      overflow-x: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;
      scroll-behavior: smooth;
      padding-bottom: 0.25rem; // scrollbar үчүн боштук

      &::-webkit-scrollbar {
        display: none;
      }
    }
    .fadeLeft,
    .fadeRight {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 24%; /* же px менен, күйгүзүп көрүп оптималдаштыр */
      pointer-events: none;
      transition: opacity 200ms ease;
      z-index: 9;
    }

    .fadeLeft {
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
      left: -2px;
      background: linear-gradient(90deg, #10002b, #10002b07);
    }

    .fadeRight {
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      right: -2px;
      background: linear-gradient(270deg, #10002b, #10002b00);
    }
  }
}
