$fullBG: #10002b93;
$white-color: #f1faee;
$yellow-color: #f0a500;

#main {
  width: 100%;
  min-height: 80dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @media (max-width: 768px) {
    min-height: 70dvh;
  }
  @media (max-width: 466px) {
    min-height: 60dvh;
  }
  @media (max-width: 392px) {
    min-height: 56dvh;
  }

  .content {
    position: relative;
    inset: 0;
    z-index: 2;
    width: 67%;
    margin: 0 auto;
    @media (max-width: 992px) {
      width: 82%;
    }
    @media (max-width: 728px) {
      width: 92%;
    }

    .text {
      font-size: 2rem;
      font-weight: bold;
      display: inline-block;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: $white-color;
      font-size: 4rem;
      width: 100%;
      height: 11rem;
      .cursor {
        display: inline-block;
        margin-left: 2px;
        width: 2px;
        animation: blink 0.5s infinite;
      }
      @media (max-width: 992px) {
        font-size: 3rem;
      }
      @media (max-width: 728px) {
        height: 8rem;
      }
      @media (max-width: 512px) {
        font-size: 2rem;
      }
    }

    h3 {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.6rem;
      color: $white-color;
      font-weight: 300;
      @media (max-width: 992px) {
        font-size: 1.2rem;
      }
      @media (max-width: 512px) {
        font-size: 0.9rem;
      }
    }

    form {
      margin-top: 2rem;
      width: 100%;
      background: white;
      border-radius: 4rem;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 50px; 
      @media (max-width: 576px) {
        height: 40px; 
      }
      @media (max-width: 728px) {
        margin-top: 1rem;
      }

      input {
        flex: 1;
        padding-left: 20px;
        width: 78%;
        height: inherit;
        font-size: 16px;
        border: none;
        outline: none;
        &::placeholder {
          @media (max-width: 466px) {
            font-size: 0.8em;
          }
          @media (max-width: 426px) {
            font-size: 0.8em;
          }
        }
        @media (max-width: 576px) {
          font-size: 1rem;
        }
        @media (max-height: 468px) {
          padding-top: 1rem;
        }
      }
      .search {
        flex-shrink: 0;
        padding: 0 1.5rem;
        width: 9rem;
        height: 100%;
        font-size: 1.3rem;
        background-color: $yellow-color;
        color: $white-color;
        border: none;
        border-radius: 4rem;
        cursor: pointer;
        transition: background-color 0.3s;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;
        &:hover {
          background-color: #d69404;
        }
        .icon {
          font-size: 1.3rem;
        }

        @media (max-width: 532px) {
          width: 3.5rem;
          padding: 0;

          .btnText {
            display: none; // ⬅️ текст жок
          }

          .icon {
            font-size: 1.4rem;
          }
        }
      }
      .search:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }
  .fullBG {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    background: linear-gradient(
      to top,
      #10002b 0%,
      // эң асты караңгы
      #10002bcd 30%,
      // эң асты караңгы
      #10002b9d 50%,
      // ортого чейин жарым караңгы
      #10002b3e 100% // жогору таза
    );
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
