* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  background: #001c34;
  -webkit-tap-highlight-color: transparent;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.container {
  width: 90%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

button, img, a, svg {
  user-select: none;
}